
:root {
}

*, *::before, *::after {
   box-sizing: border-box;
}

body {
   display: grid;
   grid-template-columns: 1fr 3fr;

   height: 100dvh;
   margin: 0;

   user-select: none;
}

.Nav {
   display: flex;
   flex-direction: column;

   outline: 3px solid orange;
}

.Nav ul {
   padding: 0;
   margin: 0;
   flex-grow: 1;

   display: flex;
   flex-direction: column;
}

.Nav li {
   list-style: none;
   flex-grow: 1;

   outline: 3px solid purple;
}

.Nav .Camera {
   flex-grow: 2;
}

.Header h1 {
   text-align: center;
   margin: 0;

   outline: 3px solid red;
}


main {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;

   outline: 3px solid cyan;
}

.Parking {
   outline: 3px solid green;
}
