
:root {
}

*, *::before, *::after {
   box-sizing: border-box;
}

body {
   display: grid;
   grid-template-columns: 1fr 3fr;

   height: 100dvh;
   margin: 0;

   user-select: none;
}

.Nav {
   outline: 3px solid orange;
}

.Nav li {
   list-style: none;
}

main {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;

   outline: 3px solid cyan;
}

.Parking {
   outline: 3px solid green;
}
