:root {
  /* Catppuccin Latte: <https://catppuccin.com/palette> */
  --color-mantle: hsl(220deg 22% 92%);
  --color-base: hsl(220deg 23% 95%);
  --color-surface0: hsl(223deg 16% 83%);
  --color-text: hsl(234deg 16% 35%);
  --color-teal: hsl(183deg 74% 35%);

  /* Shades. */
  --filter-hover: brightness(85%);
  --filter-click: brightness(77%);

  /* Units. */
  --s1: 7px;
  --s2: calc(var(--s1) * 2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  user-select: none;

  display: grid;
  grid-template-columns: 1fr 3fr;

  height: 100dvh;
  margin: 0;

  color: var(--color-text);

  background-color: var(--color-base);
}

.Nav {
  display: flex;
  flex-direction: column;
  background-color: var(--color-mantle);
}

.Nav ul {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  margin: 0;
  padding: 0;
}

.Nav li {
  cursor: pointer;
  padding: var(--s1);
  list-style: none;
  background-color: var(--color-mantle);
}

.Nav li:hover {
  filter: var(--filter-hover);
}

.Nav li:active {
  filter: var(--filter-click);
}

.Nav .Spacing {
  flex-grow: 2;
}

.Nav img {
  width: 100%;
}

.Header h1 {
  margin: 0;
  padding: var(--s2);
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--s2);

  margin: var(--s2);
}

.Parking {
  background-color: var(--color-surface0);
  border-radius: var(--s1);
}

.Parking img {
  width: 100%;
}
